@import "../css/h5bp/normalize.css";
@import "../css/h5bp/main.css";
@import "../webfonts.css";

* {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

body {
    background: white;
    font: 400 1em/1 "SuisseIntl";
}

@for $i from 1 through 6 {
    $n: calc(7 - $i);

    h#{$i},
    .h#{$i}  {
        font: 400 calc((#{$n}em * 1.0067) * .55)/1.5 "SuisseIntl";
    }
    
    .display-#{$i} {
        text-transform: uppercase;
        letter-spacing: .025em;
    }
}

.stack {
    > * {
        margin-top: 0;
        margin-bottom: 0;

        & + * {
            margin-top: 4em;
        }
    }
}

.flow {
    > * {
        margin-top: 0;
        margin-bottom: 0;

        & + * {
            margin-top: 1em;
        }
    }
}

.muted {
    opacity: .67;
}

nav {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 1em;
    row-gap: 1em;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 4rem;
    border-top: 2px solid rgb(255 255 255 / 10%);
    
    .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1em 1em;
        opacity: .5;
        font: 500 1.28em/1 "SuisseIntl";
        cursor: pointer;
        transition: opacity .3s cubic-bezier(.34, 0, .34, 1);
        
        &:after {
            content: "";
            position: absolute;
            top: -2px;
            left: 50%;
            z-index: 1;
            width: 120%;
            height: 2px;
            background: white!important;
            width: 0;
            transition: width .3s cubic-bezier(0.34, 0, 0.43, 1.18)
            ,   left .3s cubic-bezier(0.34, 0, 0.43, 1.18);
        }

        &.active {
            opacity: 1;
            
            &:after {
                left: 0;
                width: 100%;
            }
        }
    }


    .gallery-nav-wrapper {
        position: absolute;
        top: 1.75em;
        right: 2em;
        width: 130px;

        .gallery-nav {
            opacity: 0;
            transition: opacity .3s cubic-bezier(.34, 0, .34, 1);

            &:after {
                font: inherit;
                font-size: 2em;
                color: white;
                padding: 1em;
            }
            
            &.swiper-button-prev:after {
                content: "←";
            }

            &.swiper-button-next:after {
                content: "→";
            }

            &.display {
                opacity: 1;
            }
        }
    }
}

#app {
    height: 100vh;
    width: 100vw;
    background: #232323;
    background: black;
    color: white;

    &.light {
        background: whiteclcl;
        color: #232323;
    }

    .view {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s cubic-bezier(.34, 0, .34, 1) .3s;
        width: 100%;
        height: 100%;

        &.active {
            opacity: 1;
            pointer-events: all;
            transition-delay: .3s;
        }
    }
}

#home {
    .presentation {
        padding: 7em 7em 5em 7em;
        margin: auto;
        max-width: 89ch;
        font: 400 1.3em/1.5 "SuisseIntl";
        // hyphens: auto;

        .text {
            column-count: 2;
            column-gap: 3em;

            & > * {
                margin-top: 0;
                
            }

            p + p {
                margin-top: 1.75em;
            }

            img {
                float: left;
                width: 37.5%;
                width: 50%;
                // padding: 1em;
                // margin: .34em 1em 0 0;
                margin: -1.8em -0.8em -1.8em -1.8em;
                // background: white;
            }
        }

        .link-wrapper {
            display: flex;
            justify-content: end;
            margin-top: 2em;
            display: none;

            .link {
                a {
                    padding: .75em 1em;
                    border-radius: 3em;
                    text-decoration: none;
                    color: black;
                    background: white;
                }

                span {
                    font-family: inherit;
                    font-weight: 600;
                }
            }
        }
    }
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 100%;

    main {
        width: 66.67%;
        height: calc(100% - 4rem);
    
        .swiper {
            height: 100%;

            .swiper-slide {
                margin: 0;
                width: 100%;
                height: 100%;
    
                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    aside {
        width: 33.34%;
        height: 100%;
        z-index: 1;

        .captions {
            --duration: .3s;
            --delay: var(--duration);
            display: flex;
            justify-content: start;
            position: relative;
            height: 100%;
            
            .caption {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: absolute;
                padding: 1.5em;
                transition: opacity var(--duration) cubic-bezier(.34, 0, .34, 1);
                opacity: 0;
                font: 400 1.3em/1.75 "SuisseIntl";

                @for $i from 1 through 6 {
                    $n: calc(7 - $i);
                
                    h#{$i},
                    .h#{$i}  {
                        margin-top: .125em;
                    }
                }

                h2 {
                    line-height: 1.25;
                }

                p, .p {
                    line-height: 1.5;
                }

                &.updating {
                    opacity: 0;
                    transition-delay: var(--delay);
                }
                
                &.active {
                    opacity: 1;
                    transition: opacity var(--duration) cubic-bezier(.34, 0, .34, 1);
                }
            }
        }
    }
}